.plantilla{
	display: grid;
	grid-template-columns: 250px 1fr;
	grid-template-rows: 40px 1fr;
	height: 100vh;
}

.nav{
	font-size: 14px;
	grid-area: 1 / 1 / 2 / 3;
}

.icono-usuario{
	grid-area: 1 / 6 / 2 / 7;
	text-align: right;
}

.nombre-usuario{
	grid-area: 1 / 7 / 2 / 8;
	padding-left: 5px;
}

.cerrar-sesion{
	grid-area: 1 / 8 / 2 / 9;
	text-align: right;
	padding-right: 30px;

}

.nav-interno{
	display: grid;
	grid-template-columns: 250px repeat(3, 100px) 1fr 22px 200px 100px;
	grid-template-rows: 1fr;
	width: 100%;
}

.nav-interno{
	align-items: center;
}

.titulo-nav{
	padding-left: 30px;
}

.menu{
	font-size: 14px;
}

.principal{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 70px 1fr;
}

.cabecera-principal{
	display: grid;
	grid-template-columns: 1fr 200px;
	grid-template-rows: 1fr;
	align-items: center;
}

.contenido{
	padding: 0px 30px;
}

.titulo{
	padding-left: 30px;
}

.botonera{
	text-align: right;
	padding-right: 30px;
}

ul{
	list-style:none;
}

ul li{
	display: block;
	padding: 15px 30px;
}

ul li ul{
	display: none;
}

.menu{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.derecha{
	margin-top: 1px;
	float: right;
}

.menu-lateral{
	padding-bottom: 0px;
}

.item-responsivo{
	display: none;
}

.boton-menu{
	display: none;
}

@media screen and (max-width: 885px) {

	.plantilla{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 0px .1fr 1fr;
	}

	.nav{
		grid-area: 1 / 1 / 2 / 3;
	}

	.menu{
		display: block;
		grid-area: 2 / 1 / 3 / 3;
	}

	.boton-menu{
		display: block;
	}

	.nav-interno{
		display: none;
	}

	li.boton-menu{
		box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
		z-index: 1000;
	}

	a.titulo-responsivo{
		color: #6cb2eb;
	}

	.item-menu{
		display: none;
	}

	.separar-responsivo{
		padding: 10px 0px;
	}

}