*, ul{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none;
}

body{
	background-color: #f8fafc;
}

.nav-interno{
	background-color: #f8f9fa;
	color: #212529;
}

.badge{
	color: #6cb2eb;
	background-color: #f8fafc;
	font-size: 12px;
}

.badge:hover{
	color: #fff;
	background-color: #6cb2eb;
}

.nav{
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
	z-index: 1000;
}

.nombre-usuario a{
	color: #212529;
}

.titulo-nav{
    font-size: 20px;
    font-weight: 600;
}

.icono-usuario{
	color: #6cb2eb;
}

.titulo{
    font-size: 22px;
    font-weight: 600;
}

a{
	color: #212529;
}

a:hover{
	text-decoration: underline;
	color: #6cb2eb;
}

.activo{
	text-decoration: underline;
	color: #6cb2eb;
}

.menu-lateral li a{
	font-size: 14px;
}

.menu .menu-lateral .boton-menu .titulo-responsivo{
    font-size: 22px;
    font-weight: 600;
}

.contenido{
	font-size: 14px;
}

.iconos-botones{
	font-size: 14px;
}

.botonera{
	text-align: right;
}

.icono-excel{
	margin-left: 20px;
}

.formulario{
	font-size: 14px;
}

.formulario div div input{
	font-size: 14px;
}

.formulario div div select{
	font-size: 14px;
}

.formulario div div label{
	font-size: 14px;
}

.separar-label{
	padding-top: 10px;
}

.errores-modal, .errores{
	color: #dc3545;
}

ul.pagination{
	float: right;
}

#tabla_socios_paginate, #tabla_prestamos_paginate{
	text-align: right;
}

#tabla_socios_filter, #tabla_prestamos_filter{
	float: right;
	display: inline;
}

#tabla_socios_length, #tabla_prestamos_length{
	display: inline;
}

.label-data-table{
	margin-right: 7px;
}

.paginate_button{
	padding: 0px;
}

table thead tr th.cabecera{
	width: 200px;
}

table tbody tr td.cabecera-prestamo{
	width: 300px;
}

table tbody tr th.cabecera-prestamo{
	width: 300px;
}

table thead tr th.actualizar{
	width: 50px;
}

.boton-editar{
	text-align:center;
	color: #007bff;
}

.separar-label{
	margin-top: 7px;
}

.separar-boton{
	margin-top: 30px;
}

#detalle_prestamo{
	padding: 20px;
}

.nombre-prestamo{
	font-weight: bold;
}

#solicitar_prestamo{
	margin-left: 10px;
}

#alerta-prestamo{
	margin-top: 20px;
	margin-bottom: 0px;
}

.label-total{
	font-weight: bold;
	text-align: right;
	text-decoration: underline;
}

.monto{
	font-weight: bold;
}

.monto-total{
	text-align: center;
	font-weight: bold;
}

.centrar-td{
	text-align: center;
}

.pagada{
	color:green;
}

.no-pagada{
	color:red;
}

.separar-td{
	width: 300px;
}

.grafico{
	width: 100%;
	margin: 50px;
}
